::-webkit-scrollbar { 
  display: none; 
}
 * {
  font-family: 'Open Sans', sans-serif;
 }
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 100px;
  background-image: url('./Assets/home.jpeg')
}

#splashPage {
  height: 100vh;
  width: 100vw;
}

#splashPage h1{
  font-size: 5em;
  font-family: 'Dancing Script', cursive;
  float: left
}

#splashPage button{

  float: left;
  clear: left;
  background-color: green;
  border: 1px solid black;
  border-radius: 25px;
  height: 25px;
  width: 40px;
}
.landing img {
  float: left;
  height: 90vh;
}

.landing p {
  display: none;
  float: left;
  height: 90vh;
}

.plantDetail li {
  display: inline;
  background-color: green;
}

.plantDetail img {
  float: left;

}

#plantBlurb{
  width: 75%;
  float: left;
  clear: left;
}

#plantBlurb ul{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 75%;
  background-color: green;
  float: left;
  clear: left;
}
#plantBlurb p{
  width: 75%;
}

.infoBlock {
  float: left;
  text-align: left;
}

.plantDetail button {
  color: none;
  background-color: transparent;
  border: none
}


#displayPane {
  border-radius: 50px;
  width: 75vw;
  height: 70vh;
  border: 1px solid black;
  background-color: rgba(107, 107, 104, 0.51)
}
.green {
  background-color: green;
}
.vh90 {
  height: 90vh
}

#sidebarFloatLeft {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  float: left;
  overflow: hidden;
  width: 250px;
  height: 70vh;
}

.plantDetail {
  display: inline-block;
  width: 39vw;
}
.plantDetail img{
  width: 100px;
}

.plantDetail ul{
  padding: none;
}
#sidebarFloatRight {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: scroll;
  float: right;
  width: 250px;
  height: 70vh;

}
#sidebarFloatRight ul{
  padding: 0px;
}
.whiteBg {
  background-color: white;
}

.sidebarImg {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.sidebarImg img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
