.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./Assets/home.jpeg')
}

#splashPage {
  height: 100vh;
  width: 100vw;
}

#splashPage h1{
  margin: 0px;
}
.landing img {
  float: left;
  height: 90vh;
}

.landing p {
  display: none;
  float: left;
  height: 90vh;
}

.plantDetail li {
  display: inline;
  background-color: green;
}

.plantDetail button {
  color: none;
  background-color: transparent;
  border: none
}


#displayPane {
  width: 75vw;
  height: 70vh;
  border: 1px solid black;
  background-color: rgba(107, 107, 104, 0.51)
}
.green {
  background-color: green;
}
.vh90 {
  height: 90vh
}

#sidebarFloatLeft {
  float: left;
  overflow: scroll;
  width: 250px;
  height: 70vh;
}

.plantDetail {
  display: inline-block;
  width: 500px;
}
.plantDetail img{
  width: 100px;
}
.plantDetail .whatevertext{
height: 66.61px;
margin: 0px;
}
.plantDetail ul{
  padding: none;
}
#sidebarFloatRight {
  overflow: scroll;
  float: right;
  width: 250px;
  height: 70vh;
}
.whiteBg {
  background-color: white;
}

.sidebarImg {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.sidebarImg img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
