.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.landing img {
  height: 90vh;
}

.green {
  background-color: green;
}
.vh90 {
  height: 90vh
}

#sidebarFloatLeft {
  float: left;
  width: 250px;
  margin-left: 100px;
}
.landing {
  float: left;
  width: 500px;
}
.plantDetail {
  float: left;
  width: 500px;
}
.plantDetail img{
  float: left;
  width: 100px;
}
.plantDetail .whatevertext{
height: 66.61px;
margin: 0px;
}
.plantDetail ul{
  padding: none;
}
#sidebarFloatRight {
  float: left;
  width: 250px;
}
.whiteBg {
  background-color: white;
}

.sidebarImg {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.sidebarImg img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
